.wrapper {
    max-width: 1200px;
    margin: 0 auto ;
}

/* Section Header starts */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__wraper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 60px;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17px;
}
.list__item {
    margin-right: 35px;
}
.list__item:last-child {
    margin-right: 0;
}
.header__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    line-height: 14px;
    letter-spacing: 10%;
    color: #4C4C4C;
    text-decoration: none;
}
.header__link-active {
    border-bottom: 3px solid #F1CDB3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    line-height: 14px;
    letter-spacing: 10%;
    color: #4C4C4C;
    text-decoration: none;
    
}
.header__link:hover {
    color: #F1CDB3;
}
/* Section Header ends */

/* Section Pets starts*/
.our__pets {
    background-color: #F6F6F6;
    margin-top: 150px;
}
.our__pets-title {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 45px;
}
.our__pets-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 30px 40px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."; 
    padding-bottom: 50px;
}
.our__pets-card {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
}
.our__pets-card:hover {
    transition: box-shadow .3s;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.055); 
}
.card__set {
    display: grid;
}
.pic__card {
    border-radius: 10px;
    max-width: 270px;
    min-height: 270px;
}
.title__card {
    margin-top: 30px;
    text-align: center;
}
.card__button {
    margin-left: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.our__pets-controls {
    display: flex;
    width: 100%;
    column-gap: 1.65%;
    justify-content: center;
    padding-bottom: 70px;
}
.pink_slider-button-disabled {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
    border-radius: 100%;
    box-sizing: border-box;
    margin-bottom: -20px;
    background-color: #F6F6F6;
    text-decoration: none;
}
.pink_slider-button-active {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: black;
    border: 2px solid #F1CDB3;
    border-radius: 100%;
    box-sizing: border-box;
    margin-bottom: -20px;
    background-color: #F1CDB3;
    text-decoration: none;
}
/* Section Pets ends */

/* Section Footer starts */
footer {
    height: 350px;
    background: url(/assets/images/start-screen-gradient-background.png) no-repeat;
    background-size: cover;
}
.footer__content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 310px;
    column-gap: 100px;
    padding-top: 40px;
}
.footer__questions-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #FAFAFA;
    padding-top: 15px;
}
.footer__sub-menu {
    padding-top: 40px;
}
.sub__menu-footer-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 6%;
    color: #F1CDB3;
    text-decoration: none;
}
.footer-icon {
    padding-right: 20px;
}
/* Section Footer ends */

@media (min-width: 768px) and (max-width: 1200px) {
    .wrapper {
        max-width: 700px;
        margin: 0 auto;
    }
    .header__wraper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 30px;
    }
    .our__pets {
        background-color: #F6F6F6;
        margin-top: 120px;
    }
    .footer__content {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.7fr 0.8fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "footter_questions footer__visit"
          "footer__pic footer__pic"; 
      }
      .footter_questions { grid-area: footter_questions; }
      .footer__visit { grid-area: footer__visit; }
      .footer__pic { grid-area: footer__pic; }
    footer {
        height: 639px;
        background: url(/assets/images/start-screen-gradient-background.png) no-repeat;
        background-size: cover;
    }
    .footer__questions-title { padding-top: 0; }
    .footer__pic { 
        padding-top: 31px; 
        margin-left: 150px;
    }
    .our__pets-title {
        text-align: center;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .our__pets-grid {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 20px;
        grid-template-areas: 
          ". ."
          ". ."
          ". ."; 
    }
    .our__pets-card {
        width: 270px;
        height: 435px;
        background-color: #FAFAFA;
        border-radius: 9px;
        
        margin-left: 20px;
    }
    .pet__card-inactive {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .wrapper {
        max-width: 300px;
        margin: 0 auto;
    }
    .header__wraper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 30px;
    }
    .list__item {
        display: none;
    }
    .pet__card-inactive-320 {
        display: none;
    }
    .our__pets {
        background-color: #F6F6F6;
        margin-top: 120px;
    }
    .our__pets-grid {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 20px; 
        grid-template-areas: 
          "."
          "."
          "."; 
    }
    .our__pets-title {
        text-align: center;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .our__pets-card {
        width: 270px;
        height: 435px;
        background-color: #FAFAFA;
        border-radius: 9px;
        
        margin-left: 20px;
    }  
    .footer__content {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.6fr 0.6fr 0.6fr; 
        gap: 24px; 
        grid-template-areas: 
          "."
          "."
          "."; 
    }
    footer {
        height: 809px;
        background: url(../../assets/images/start-screen-gradient-background.png) no-repeat;
        background-size: cover;
    }
    .footer__questions-title { padding-top: 0; }
    .footer__pic { 
        padding-top: 0; 
        margin-left: 0;
    }
    .footer__sub-menu { padding-top: 10px; }
    .footer__puppy-pic {
        max-width: 259px;
    }   
}